

#challenge {
text-align: center;
color: aqua;
text-shadow: 1px 1px black;
}

#instruction {
text-align: center;
color: aqua;
text-shadow: 1px 1px black;
}

#btn1 {
    color: aqua;
    background-color: black;
    text-align: right;
    height: 40px;
    width: 80px;
    
}

#btn1:hover {
    color: black;
    background-color: aqua;
}
