* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

#challenge {
text-align: center;
color: black;
text-shadow: 1px 1px red;
}

#instruction {
text-align: center;
color: black;
text-shadow: 1px 1px red;
}




